<%- include("../layouts/index-header.ejs") %> 

<h1>Edit User</h1>

<%if (typeof message !== 'undefined') {%>
<h3><%=message%></h3>
<%}%>
<form action="" method="post">
  <input
    type="name"
    name="name"
    placeholder="Enter name"
    value="<%=user.name%>"
    required
  />
  <br /><br />
  <input
    type="email"
    name="email"
    placeholder="Enter email"
    value="<%=user.email%>"
    required
  />
  <br /><br />
  <input
    type="text"
    name="mno"
    placeholder="Enter Mobile"
    value="<%=user.mobile%>"
    required
  />
  <br /><br />
  <label>Verified</label>
  <input type="radio" name="verify" value="1" <%if(user.is_verified ==
  1){%>checked<%}%>/>
  <label>Not Verified</label>
  <input type="radio" name="verify" value="0" <%if(user.is_verified ==
  0){%>checked<%}%> />
  <br /><br />
  <input type="hidden" name="id" value="<%=user._id%>" />
  <input type="submit" value="Update User" />
</form>
<a href="/admin/">Dashboard</a>


<%- include("../layouts/admin-footer.ejs") %>
