



<%- include("../layouts/index-header.ejs") %>

<div
  class="container d-flex justify-content-center align-items-center min-vh-100"
>
  <!----------------------- Login Container -------------------------->

  <div class="row border rounded-5 p-3 bg-white shadow box-area">
    <!--------------------------- Left Box ----------------------------->

    <div
      class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box"
      style="background: #103cbe"
    >
      <div class="featured-image mb-3">
        <img src="/images/1.png" class="img-fluid" style="width: 250px" />
      </div>
      <p
        class="text-white fs-2"
        style="font-family: 'Courier New', Courier, monospace; font-weight: 600"
      >
        Be Verified
      </p>
      <small
        class="text-white text-wrap text-center"
        style="width: 17rem; font-family: 'Courier New', Courier, monospace"
        >Join experienced Designers on this platform.</small
      >
      <br /><br />
    </div>

    <!-------------------- ------ Right Box ---------------------------->

    <div class="col-md-6 right-box">
      <form action="" method="post">
        <div class="row align-items-center">
          <div class="header-text mb-4">
            <h2>Reset Password</h2>
            <p>Fill in the data below.</p>
            <%if(typeof message !== 'undefined'){%>
            <p
              style="
                width: 20rem;
                color: red;
                font-family: 'Courier New', Courier, monospace;
              "
            >
              <%=message%>
            </p>
            <%}%>
          </div>

          <div class="input-group mb-3">
            <input
              type="password"
              name="password"
              class="form-control form-control-lg bg-light fs-6"
              placeholder="Enter Passwod"
              required
            />
            <input type="hidden" name="user_id" value="<%=user_id%>" />
          </div>

          <div class="input-group mb-3">
            <input
              class="btn btn-lg btn-primary w-100 fs-6"
              role="button"
              type="submit"
              value="Reset Password"
            />
            <!-- <input
              class="btn btn-lg btn-primary w-100 fs-6"
              role="button"
              type="submit"
              value="Send Verification Link"
            /> -->
          </div>
          <div class="input-group mb-3">
            <a
              href="/admin"
              role="button"
              class="btn btn-lg btn-light w-100 fs-6"
              >Login</a
            >
          </div>
          <div class="row">
            <small></small>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<%- include("../layouts/index-footer.ejs") %>

<!-- <%- include("../layouts/index-header.ejs") %> 

<h1>Reset Password</h1>

<%if(typeof message !== 'undefined'){%>
  <h4><%=message%></h4>
  <%}%>
  
  <form action="" method="post">
    <input type="text" name="password" required placeholder="Enter Password" />
    <input type="text" name="user_id" value="<%=user_id%>" hidden />
    <br /><br />
    <input type="submit" value="Reset Password" />
  </form>
  
  <a href="/admin">Login</a>
  
  
  <%- include("../layouts/index-footer.ejs") %> -->

