<%- include("../layouts/user-header.ejs") %>

<link rel="stylesheet" href="/public/stylesheets/user-css/user-home.css" />

<section class="content">
  <div class="row container-fluid">
    <div class="home-profile-card wrapper">
      <div class="text-end">
        
        <a class="btn btn-light btn-sm" href="/edit?id=<%=user._id%>" role="button"><ion-icon name="create-outline"></ion-icon>&nbsp Edit Account</a>
      </div>

      <div class="text-center">
        <img
          class="img-rounded img-fluid"
          src="./assets/imgs/customer01.jpg"
          class="card-img-top"
          alt="..."
        />
      </div>

      <div class="card-body mt-4">
        <h3 class="text-center"><%=user.name%></h3>
        <div class="table-responsive">
          <table class="table border-light mt-4">
            <tbody style="text-align: center">
              <tr>
                <th scope="row">Email</th>
                <td><%=user.email%></td>
              </tr>
              <tr>
                <th scope="row">Mobile</th>
                <td><%=user.mobile%></td>
              </tr>
              <tr>
                <th scope="row">Verified</th>
                <td>
                  <%if(user.is_verified == 1){%>
                  <p>Yes</ion-icon></p>
                  <%}%>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include("../layouts/user-footer.ejs") %>
